In [29]:
import pandas as pd

In [30]:
out_df = pd.read_csv('./data/submission/sub0601_1.csv')
out_df.head(10)

        id  is_humor  funniness_average
0   tweet1         1           1.522744
1   tweet2         0           0.351772
2   tweet3         1           2.398724
3   tweet4         0           0.138691
4   tweet5         0           0.021646
5   tweet6         1           1.099080
6   tweet7         1           1.625129
7   tweet8         0           0.249377
8   tweet9         0           0.730363
9  tweet10         0           0.109418

In [31]:
new_clas = pd.read_csv('./sub0606_2.csv')
new_clas.head(10)

        id  is_humor  funniness_average
0   tweet1         1                3.0
1   tweet2         0                3.0
2   tweet3         1                3.0
3   tweet4         0                3.0
4   tweet5         0                3.0
5   tweet6         1                3.0
6   tweet7         0                3.0
7   tweet8         0                3.0
8   tweet9         1                3.0
9  tweet10         0                3.0

In [32]:
out_df.shape, new_clas.shape

((6000, 3), (6000, 3))

In [33]:
out_df.is_humor = new_clas.is_humor

In [34]:
out_df.head(10)

        id  is_humor  funniness_average
0   tweet1         1           1.522744
1   tweet2         0           0.351772
2   tweet3         1           2.398724
3   tweet4         0           0.138691
4   tweet5         0           0.021646
5   tweet6         1           1.099080
6   tweet7         0           1.625129
7   tweet8         0           0.249377
8   tweet9         1           0.730363
9  tweet10         0           0.109418

In [35]:
out_df.to_csv('sub0606_2u.csv',header=True,index=False, float_format='%.5f')

In [40]:
!zip sub0606_2u.zip sub0606_2u.csv

updating: sub0606_2u.csv (deflated 70%)

In [41]:
!cp sub0606_2u.zip /mnt/awcnas4_AWX/tmp/